@import '../../../styles/variables';
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans:100,300,400,600,700');
@import '~ngx-sharebuttons/themes/material/material-dark-theme';
@import '~ngx-sharebuttons/themes/modern/modern-light-theme';
@import '~ngx-sharebuttons/themes/circles/circles-dark-theme';

.container {
    min-width: 100%;
    background-image: url('/assets/i/stories-banner.jpg') ;
    min-height: 100%;
    background-size: cover;
    background-position: center center;
    background-attachment: fixed;
}
.card {
    width: 70%;
    padding: 40px;
    margin: auto;
}
.content {
    width: 50%;
    padding: 40px;
    margin: auto;
    .blue-title {
        color: #f7bf50;
        font-family: 'Playfair Display', serif;
        font-size: 54px;
        font-weight: 700;
        letter-spacing: -0.17px;
        line-height: 60px;
        margin-bottom: 19px;
    }
    .txt {
        color: #FFFF;
        font-family: 'Playfair Display', serif;
        font-size: 18px;
        line-height: 36px;
        font-weight: 600;
    }
}

.row {
    display: block;
}

.cards-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    .story-card {
        width: 60%;
        margin:50px auto;
        .title {
            color: #f7bf50;
            font-family: 'Playfair Display', serif;
            font-size: 32px;
            line-height: 36px;
            font-weight: 700;
            margin-top: 10px;
            margin-bottom: 20px;
        }
        .story {
            color: #010101;
            font-family: 'Josefin Sans', sans-serif;
            font-size: 18px;
            line-height: 36px;
            font-weight: 600;
            padding: 30px;
            font-style: italic;
        }
    }

}
