<div class="container">
  
	<div class="content">
        <div class="blue-title">
            Stories
        </div>
        <p class="txt">
            Mom’s Favorite would like to highlight the importance of sharing stories of children with special needs
             all around the world to shed light on their overcoming and the importance of acceptance and communication in communities everywhere.
        </p>
    </div>
    <div class="cards-wrapper">
      <mat-card class="story-card">
        <mat-card-header>
          <mat-card-title class="title">Adeeba Khan</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/i/story-image-1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="story">
          <p>
            Officia exercitation est ipsum elit quis consectetur ad adipisicing tempor velit mollit tempor sit amet. 
            Id nisi magna quis ad adipisicing cupidatat aute sunt deserunt incididunt. Nisi in qui consectetur qui est.
            <br>
            <br>
            loAnim consequat pariatur consectetur excepteur excepteur ea mollit fugiat dolore.
            Non enim et esse do reprehenderit laborum ut et nulla in nostrud. Reprehenderit laboris esse irure excepteur sunt id dolore. Magna exercitation minim amet cupidatat duis ipsum. Esse enim adipisicing voluptate irure ex ad dolore magna. Ad magna et elit qui reprehenderit occaecat enim duis commodo est et ex.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <share-buttons [theme]="'circles-dark'"
            [include]="['twitter','linkedin','whatsapp']"
            [show]="5"
            [url]="'https://twitter.com/'"
            [autoSetMeta]="false"
            ></share-buttons>
        </mat-card-actions>
      </mat-card>

      <mat-card class="story-card">
        <mat-card-header>
          <mat-card-title class="title">Sarah Khan</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/i/story-image-1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="story">
          <p>
            Officia exercitation est ipsum elit quis consectetur ad adipisicing tempor velit mollit tempor sit amet. 
            Id nisi magna quis ad adipisicing cupidatat aute sunt deserunt incididunt. Nisi in qui consectetur qui est.
            <br>
            <br>
            loAnim consequat pariatur consectetur excepteur excepteur ea mollit fugiat dolore.
            Non enim et esse do reprehenderit laborum ut et nulla in nostrud. Reprehenderit laboris esse irure excepteur sunt id dolore. Magna exercitation minim amet cupidatat duis ipsum. Esse enim adipisicing voluptate irure ex ad dolore magna. 
            Ad magna et elit qui reprehenderit occaecat enim duis commodo est et ex.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>

      <mat-card class="story-card">
        <mat-card-header>
          <mat-card-title class="title">Kausar Ali</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="/assets/i/story-image-1.jpg" alt="Photo of a Shiba Inu">
        <mat-card-content class="story">
          <p>
            Officia exercitation est ipsum elit quis consectetur ad adipisicing tempor velit mollit tempor sit amet. 
            Id nisi magna quis ad adipisicing cupidatat aute sunt deserunt incididunt. Nisi in qui consectetur qui est.
            <br>
            <br>
            loAnim consequat pariatur consectetur excepteur excepteur ea mollit fugiat dolore.
            Non enim et esse do reprehenderit laborum ut et nulla in nostrud. Reprehenderit laboris esse irure excepteur sunt id dolore. Magna exercitation minim amet cupi
            duis ipsum. Esse enim adipisicing voluptate irure ex ad dolore magna. Ad magna et elit qui reprehenderit occaecat enim duis commodo est et ex.
          </p>
        </mat-card-content>
        <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions>
      </mat-card>
   
    </div>
   
</div>