

<div class="container">
	<div class="row">
	  <div class="col-md">
		<div class="we-offer-content">
			<div class="blue-title">
				What We Offer
			</div>
			<p class="txt">
				Mom’s Favorite is a non-profit organization that is working towards a better tomorrow for children with special needs. 
				We provide resources, activities, and an outlet for children with special needs to be able support their needs.
			</p>
		</div>
	  </div>
	  <div class="col-md">
		<app-contact-card></app-contact-card>
	  </div>
	</div>
  </div>