<div class="container">
	<div class="content">
        <div class="blue-title">
            What We Do
        </div>
        <p class="txt">
            The idea of this organization begins with a story. Long ago when Beyonce had just came out with Crazy in love and bright 
            colored tracksuits took the world by a storm, a pair of twin girls were born in JFK Hospital in New Jersey. However, one was born a
            little differently than the other one. She was born with Mosaic Down-Syndrome.The parents were scared and did not know what was in store 
            for them, as every parent in this situation would worry.
            <br> 
            <br>
            Skipping forward years of hospital visits, therapy, and many memories --- the same girl is now in high school--- happy, and healthy. 
            She is a family gift (definitely mom’s favorite!) Amidst the pandemic of 2020, children everywhere are cooped up in their houses doing everything they would do normally, virtually.
            <br>
            <br>
            This situation opened an opportunity. An opportunity in which children with special needs everywhere can come together on a virtual platform 
            to do activities and communicate with other children around the world. There are resources available that allow these children to be able 
            to talk to people, make new friends, and seek new interests.
        </p>
    </div>
</div>