<!--Carousel Wrapper-->
<mdb-carousel [isControls]="true" class="carousel slide" [animation]="'fade'">
    <!--First slide-->
    <mdb-carousel-item>
        <!--Mask color-->
        <div class="view">
            <!--Video source-->
            <video class="video-fluid" autoplay loop>
                <source src="/assets/i/theSupportProjectBanner.mp4" type="video/mp4" />
            </video>
        </div>
       
        <!--Caption-->
    </mdb-carousel-item>

    <mdb-carousel-item>
        <!--Mask color-->
        <div class="view">
            <!--Video source-->
            <video class="video-fluid" autoplay loop>
                <source src="/assets/i/theSupportProjectBanner-2.mp4" type="video/mp4" />
            </video>
        </div>
       
        <!--Caption-->
    </mdb-carousel-item>
    
</mdb-carousel>
<!--Carousel Wrapper-->